body{
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #F4F4FD;
}

ul,
ol{
    list-style-type: none;
}

a{
    list-style-type: none;
}

/*--------------header--------------*/

.header-menu-list:hover,
.header-menu-list:focus{
    text-decoration: underline;
    color: #404bbf;
}

.header-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2E2F42;
}

.header-logo .accent{
    color: #4D5AE5
}

.header-menu-list .header-menu-item{
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
}

.adress-menu-list{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

/*--------------main--------------*/

.section{
    background:#2e2f42;
}

.section-text{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
}

.section-btn{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #4d5ae5;
    cursor: pointer;
    color: #fff;
}

.section-btn:hover,
.section-btn:focus{
    background-color: #404bbf;
}
.caption{
    color: #2E2F42;
    text-align: center;
    font-family: "Roboto" sans-serif;
    font-size: 36px;
    font-style: normal;
    font-weight: 700;
    line-height: 40px;
    letter-spacing: 0.72px;
}

.team-item{
    background-color: #fff;
}

.team-item .team-text,.team-title{
    text-align: center;
}

.portfolio{
    background-color: #F4F4FD;
}

/*--------------footer--------------*/

.footer{
    background:#2e2f42;
}

.footer-text{
    color: #fff
}